{% load static %}

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width-device-width, initial-scale-1, maximum-scale-1"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
        <title>Task Manager | Dashboard</title>
    </head>
    {%  include 'profile/base.html' %}
    <body>
        <div class="container bg-white shadow-md p-5 form-layout">
            <br>
            <h3 class="text-center"> Task Manager</h3>
            <hr>
            <img src="{{ profile.profile_pic.url }}" style="width: 200px"/>
            <br> <br>
            <h4>Welcome to your personal task manager application!</h4>
            <br>
            <a href="{% url 'profile' %}">Profile Management</a>
        </div>
    </body>
</html>