{% load static %}

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
        <title>Task Manager | View Tasks</title>
    </head>
    {% include 'profile/base.html' %}
    <body>
        <br>
        <h3 class="text-center">All Tasks</h3>
        <hr>
        {% for tsk in tasks %}
            <div class="container bg-white shadow-md p-5 form-layout" style="margin-top: 20px">
                <h3>{{ tsk.title }}</h3>
                <br>
                <p>{{ tsk.content }}</p>
                <br>
                {% if tsk.deadline %}
                    <p><strong>Deadline:</strong> {{ tsk.deadline|date:"d/m/Y H:i" }}</p>
                    <p><strong>Time remaining:</strong> {{ tsk.time_remaining }}</p>
                {% else %}
                    <p><strong>Deadline:</strong> Not set</p>
                {% endif %}
                <br>
                <a class="btn btn-info navbar-btn" type="button" href="{% url 'update_task' tsk.id %}">Update Task</a>
                <br><br>
                <a class="btn btn-danger navbar-btn" type="button" href="{% url 'delete_task' tsk.id %}">Delete Task</a>
            </div>
        {% endfor %}
        <br>
    </body>
</html>