{% load static %}

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width-device-width, initial-scale-1, maximum-scale-1"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
        <title></title>
    </head>

    <body>
        {%  include 'base.html' %}
        <br>
        <h3 class="text-center"> All Tasks</h3>
        <hr>
        {% for tsk in task %}
            <div class="container shadow-md p-5 form-layout" style="margin-top: 20px">
                {{ tsk.title}}
                <br> <br>
                {{ tsk.content}}
                <br> <br>
                <a href="{% url 'update_task' tsk.id %}">Update task</a>
                <br> <br>
                <a href="{% url 'delete_task' tsk.id %}">Delete task</a>
                <br> <br>
            </div>
        {% endfor %}
        <br>
    </body>
</html>